<%# just display the comments here that's all %>
<div class='comment-wrapper'>
<% @comments.each do |comment| %>
  <div class="comment-box">
    <p><%= comment.comment %></p>
    <p class="name">- <%= comment.name %></p>
  </div>
<% end %>

</div>
<%= link_to "Back to Home", root_path %>
