<h2>Isn't Joel the best?</h2>
<button>YES OF COURSE</button>
<button>NO ONE IS BETTER</button>

<p>LOL IDK WHAT TO PUT HERE so i'll let ya guys decide</p>
<%= link_to "Continue", new_comment_path, class: "comment-add" %>
<%= link_to "See why Joel is Awesome (when users click here, it'll bring you to all the comments added)", comments_path %>
