@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 960px;
  margin: 50px auto;
  text-align: center;
}

header,
footer{
  text-align: center;
}

h1, h2 {
  // font-family: 'Press Start 2P', cursive;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form input,
form label,
form textarea {
  display: block;
  font-size: 1em;
}

input[type=text],
textarea {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

textarea{
  height: 150px;
  resize: none;
}

input[type=submit],
.comment-add{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

main a{
  display: block;
}

.comment-add{
  width: 115px;
  text-align: center;
  background: linear-gradient(90deg, rgba(102,188,171,1) 0%, rgba(111,218,123,1) 51%, rgba(101,186,174,1) 100%);
  border-radius: 3px;
  margin: 0 auto;
}

.comment-add:hover {
  background: linear-gradient(90deg, rgba(111,218,123,1) 0%, rgba(102,188,171,1) 51%, rgba(111,218,123,1) 100%);
}

.comment-box {
  border: 2px solid black;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  margin-bottom: 2em;
  padding: 0 10px;
}

.name {
  text-align: right;
}

.sei36-sticker {
  width: 250px;
}
